<!DOCTYPE html>
<html>
<head>
  <title>NewBlog</title>
  <%= csrf_meta_tags %>
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="elements/cara-home.html">
</head>
<body>
<%= yield %>
</body>
</html>
