<!DOCTYPE html>
<html>
<head>
  <title>NewBlog</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="import" href="elements/cara-nav.html">
  <link rel="import" href="elements/cara-header-pane.html">
  <link rel="import" href="elements/cara-home.html">
</head>
<body>
  <cara-nav></cara-nav>
  <cara-header-pane></cara-header-pane>
  <%= yield %>
</body>
</html>
